.navbar {
    margin-bottom: 2px;
}

.labelleftalign {
    text-align: left !important;
}

.report-form-header {
    background-color: #0080D5;
    color: white;
    text-align: center;
    font-weight: bold;
}

.form-group .required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

/*.col:not(:first-child),.col:not(:last-child) {
    padding-right:7px;
    padding-left:7px;
}

.form-group {
    margin-bottom: 5px;
}

.form-horizontal .checkbox, .form-horizontal .radio, .form-control {
    height: 25px;
    padding: 3px 6px;
    font-size: 12px;
}

.input-sm {
    height: 25px;
    padding: 3px 6px;
    font-size: 12px;
}

.control-label {
    padding-top: 2px;
    font-size: 12px;
}

.btn-avg {
    padding: 3px 6px;
    font-size: 12px;
}

p {
    margin: 0 0 5px;
}
*/
.my-modal {
    height: 500px !important;
    overflow: auto !important;
}


.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
    margin-top: 5px;
    margin-bottom: 5px;
}


.vend-rprt-dwnld-invoce-wrap {

}

.rprt-form-wrapper {
    padding-top: 5px;
}

.rprt-grid-wrapper {
    padding-top: 5px;
}


.page-title h2 {
    font-size: 22px;
    text-transform: uppercase;
    padding: 0;
    font-weight: 100;
    margin: 0;
    color: #414C59;
}

.title-hero {
    margin: 0 0 15px;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.7;
}

.panel {
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 5px 7px;
    position: relative;
}

.panel-body .example-box-wrapper:last-child, .panel-body .col-md-6 .example-box-wrapper:last-child {
    margin-bottom: 0;
}

.example-box-wrapper {
    margin-bottom: 15px;
    position: relative;
}